@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

/* Hero Section */
.hero-section {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 60px 40px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

/* Ball effects */
.ball-1::before,
.ball-2::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  opacity: 0.7;
  z-index: -1;
}

.ball-1::before {
  width: 300px;
  height: 300px;
  background-color: #808080;
  bottom: 8%;
  right: -13%;
}

.ball-2::before {
  width: 500px;
  height: 500px;
  background-color: #808080;
  bottom: -20%;
  left: -20%;
}

.hero-text {
  max-width: 70%;
  color: #000000;
  position: relative;
  z-index: 1;
}

.main-text-1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #222222;
}

.explore-btn {
  background: #111111;
  color: #ffffff;
  padding: 12px 30px;
  border-radius: 25px;
  font-size: 1.1rem;
  font-weight: 600;
  transition: background 0.3s ease, color 0.3s ease;
}

.explore-btn:hover {
  color: #a6a1a1;
}

/* Testimonials */
.testimonials {
  padding: 40px 20px;
}

/* Quote Section */
.motivational-quote {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px auto;
  padding: 15px;
  background: #f68121;
  border-radius: 10px;
  max-width: 600px;
}

.quote p {
  font-size: 1.1rem;
  color: #fff;
  font-style: italic;
  margin: 0;
}

.quote small {
  font-size: 0.9rem;
  color: #fed7aa;
}

.rocket-gif img {
  max-height: 80px;
  rotate: 45deg;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .hero-section {
    justify-content: center;
    flex-direction: column;
    padding: 40px 15px;
  }

  .hero-bg {
    object-fit: cover;
    object-position: 90% 0%; /* Focus on the boy in the image */
  }

  .hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: -1;
  }

  .hero-text {
    max-width: 100%;
    text-align: center;
  }

  .main-text-1 {
    font-size: 2rem;
    color: white;
  }

  .hero-description {
    font-size: 1rem;
    color: aliceblue;
  }

  .explore-btn {
    padding: 10px 20px;
    font-size: 1rem;
  }

  .motivational-quote {
    flex-direction: column;
    max-width: 90%;
  }

  .ball-1::before {
    width: 90px;
    height: 90px;
  }

  .ball-2::before {
    width: 80px;
    height: 80px;
  }
}